@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer components {
    .box-with-shadow {
        @apply bg-cwhite  cursor-pointer text-cdarkgray text-center rounded-xl p-4;
        box-shadow: 4px 8px 8px 0px #0000001A, 2px 8px 8px 0px #0000001A inset;

    }
    

    .box-with-shadow h2{
        @apply  font-bold text-2xl ;

    }

    
    .btn-blue {
        @apply bg-cblue text-cwhite font-semibold text-xl cursor-pointer text-center ;
        box-shadow: 4px 8px 8px 0px #0000001A, 2px 8px 8px 0px #0000001A inset;

    }

    .inputs-form {
      @apply bg-transparent border-none  m-2 w-2/3 appearance-none text-cwhite px-2 leading-tight focus:bg-transparent focus:text-xl focus:font-semibold focus:outline-none;
    }


    .btn-white {
      @apply bg-cwhite text-cdarkblue mt-4 px-4 uppercase font-semibold text-xl cursor-pointer text-center;
        box-shadow: 4px 8px 8px 0px #0000001A, 2px 8px 8px 0px #0000001A inset;

    }

  }
  