@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    

} 
  @layer components {
    .box-with-shadow {
        @apply bg-cwhite  cursor-pointer text-cdarkgray text-center rounded-xl p-4;
        box-shadow: 4px 8px 8px 0px #0000001A, 2px 8px 8px 0px #0000001A inset;

    }
    

    .box-with-shadow h2{
        @apply  font-bold text-2xl ;

    }

    
    .btn-blue {
        @apply bg-cblue text-cwhite font-semibold text-xl cursor-pointer text-center ;
        box-shadow: 4px 8px 8px 0px #0000001A, 2px 8px 8px 0px #0000001A inset;

    }
  }
  
  @layer utilities {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }